
.card{

    background-color: bisque;

    box-shadow: 0px 3px 2px 0px  rgb(63, 61, 61);
    transition: scal(1.2);
        width: 60%;
}


.card:hover{
    background-color: rgb(241, 205, 159);
    color: navy;
    width: 70%;

    transition: all 1.5s;
    
}
