

<div class="space"></div>

<div class="container">




      <div class="card-deck">
        <div class="card" routerLink="/details/{{myCarts.data[0].id}}" >
          <img src="{{myCarts.data[0].avatar	}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{myCarts.data[0].email}}</h5>
            <h5 class="card-title">{{myCarts.data[0].id}}</h5>


            <h5 class="card-title">{{myCarts.data[0].first_name	}}</h5>
            
          </div>
      </div>
      <div class="card"  routerLink="/details/{{myCarts.data[1].id}}" >
            <img src="{{myCarts.data[1].avatar	}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{myCarts.data[1].email}}</h5>
            <h5 class="card-title">{{myCarts.data[1].id}}</h5>
               
              <h5 class="card-title">{{myCarts.data[1].first_name	}}</h5>
              
            </div>
        </div>
        <div class="card"  routerLink="/details/{{myCarts.data[2].id}}" >
            <img src="{{myCarts.data[2].avatar	}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{myCarts.data[2].email}}</h5>
            <h5 class="card-title">{{myCarts.data[2].id}}</h5>
              
              <h5 class="card-title">{{myCarts.data[2].first_name	}}</h5>
              
            </div>
        </div>
        <div class="card"  routerLink="/details/{{myCarts.data[3].id}}" >
            <img src="{{myCarts.data[3].avatar	}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{myCarts.data[3].email}}</h5>
              <h5 class="card-title">{{myCarts.data[3].id}}</h5>
  
              <h5 class="card-title">{{myCarts.data[3].first_name	}}</h5>
              
            </div>
        </div>

        <div class="card"  routerLink="/details/{{myCarts.data[4].id}}">
            <img src="{{myCarts.data[4].avatar	}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{myCarts.data[4].email}}</h5>
              <h5 class="card-title">{{myCarts.data[4].id}}</h5>
  
              <h5 class="card-title">{{myCarts.data[4].first_name	}}</h5>
              
            </div>
        </div>
    </div>
      

</div>






